# File temporanei LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
*.run.xml
*.nav
*.snm
*.vrb

# File di sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp